In [1]:
import pandas as pd
import numpy as np
import zipfile

# For display settings
pd.set_option('display.max_columns', None)

In [2]:
# location of the ZIP file
file_path = r"C:\Users\tanzi\Personal Projects\Market-Basket-Analysis\data\Retail_Transactions_Dataset.zip"

# Opening and laoding into dataframe
with zipfile.ZipFile(file_path, 'r') as z:
    with z.open('Retail_Transactions_Dataset.csv') as f:
        df = pd.read_csv(f)

In [3]:
df.head()

,Transaction_ID,Date,Customer_Name,Product,Total_Items,Total_Cost,Payment_Method,City,Store_Type,Discount_Applied,Customer_Category,Season,Promotion
0,1000000000,2022-01-21 06:27:29,Stacey Price,"['Ketchup', 'Shaving Cream', 'Light Bulbs']",3,71.65,Mobile Payment,Los Angeles,Warehouse Club,True,Homemaker,Winter,NaN
1,1000000001,2023-03-01 13:01:21,Michelle Carlson,"['Ice Cream', 'Milk', 'Olive Oil', 'Bread', 'P...",2,25.93,Cash,San Francisco,Specialty Store,True,Professional,Fall,BOGO (Buy One Get One)
2,1000000002,2024-03-21 15:37:04,Lisa Graves,['Spinach'],6,41.49,Credit Card,Houston,Department Store,True,Professional,Winter,NaN
3,1000000003,2020-10-31 09:59:47,Mrs. Patricia May,"['Tissues', 'Mustard']",1,39.34,Mobile Payment,Chicago,Pharmacy,True,Homemaker,Spring,NaN
4,1000000004,2020-12-10 00:59:59,Susan Mitchell,['Dish Soap'],10,16.42,Debit Card,Houston,Specialty Store,False,Young Adult,Winter,Discount on Selected Items

In [4]:
# Checking for missing value
print(df.isnull().sum())

Transaction_ID            0
Date                      0
Customer_Name             0
Product                   0
Total_Items               0
Total_Cost                0
Payment_Method            0
City                      0
Store_Type                0
Discount_Applied          0
Customer_Category         0
Season                    0
Promotion            333943
dtype: int64

In [5]:
# Only Promotion column has missing values
# Viewing unique values and thier counts
print(df["Promotion"].value_counts(dropna=False))

Promotion
NaN                           333943
Discount on Selected Items    333370
BOGO (Buy One Get One)        332687
Name: count, dtype: int64

In [6]:
# Replacing missing value with "None"
df["Promotion"].fillna("None", inplace=True)

C:\Users\tanzi\AppData\Local\Temp\ipykernel_20316\3736160388.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Promotion"].fillna("None", inplace=True)

In [7]:
print(df["Promotion"].value_counts(dropna=False))

Promotion
None                          333943
Discount on Selected Items    333370
BOGO (Buy One Get One)        332687
Name: count, dtype: int64

In [8]:
df.columns

Index(['Transaction_ID', 'Date', 'Customer_Name', 'Product', 'Total_Items',
       'Total_Cost', 'Payment_Method', 'City', 'Store_Type',
       'Discount_Applied', 'Customer_Category', 'Season', 'Promotion'],
      dtype='object')

In [9]:
# Standardizing column names -- to lower letters
df.columns = df.columns.str.strip().str.lower()

df.columns

Index(['transaction_id', 'date', 'customer_name', 'product', 'total_items',
       'total_cost', 'payment_method', 'city', 'store_type',
       'discount_applied', 'customer_category', 'season', 'promotion'],
      dtype='object')

In [10]:
# Checking unique other columns
print("Unique Payment Methods:", df["payment_method"].unique())
print("Unique Store Types:", df["store_type"].unique())
print("Unique Customer Categories:", df["customer_category"].unique())
print("Unique Seasons:", df["season"].unique())

Unique Payment Methods: ['Mobile Payment' 'Cash' 'Credit Card' 'Debit Card']
Unique Store Types: ['Warehouse Club' 'Specialty Store' 'Department Store' 'Pharmacy'
 'Supermarket' 'Convenience Store']
Unique Customer Categories: ['Homemaker' 'Professional' 'Young Adult' 'Retiree' 'Student'
 'Middle-Aged' 'Senior Citizen' 'Teenager']
Unique Seasons: ['Winter' 'Fall' 'Spring' 'Summer']

In [11]:
df.dtypes

transaction_id         int64
date                  object
customer_name         object
product               object
total_items            int64
total_cost           float64
payment_method        object
city                  object
store_type            object
discount_applied        bool
customer_category     object
season                object
promotion             object
dtype: object

In [12]:
import ast

# Converting it to a lsit if not already
df["product"] = df["product"].apply(ast.literal_eval)  # Converts properly formatted strings to lists
print(df["product"].head())

0            [Ketchup, Shaving Cream, Light Bulbs]
1    [Ice Cream, Milk, Olive Oil, Bread, Potatoes]
2                                        [Spinach]
3                               [Tissues, Mustard]
4                                      [Dish Soap]
Name: product, dtype: object

In [13]:
# Converting "date" to datetime type
df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 13 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   transaction_id     1000000 non-null  int64
 1   date               1000000 non-null  datetime64[ns]
 2   customer_name      1000000 non-null  object
 3   product            1000000 non-null  object
 4   total_items        1000000 non-null  int64
 5   total_cost         1000000 non-null  float64
 6   payment_method     1000000 non-null  object
 7   city               1000000 non-null  object
 8   store_type         1000000 non-null  object
 9   discount_applied   1000000 non-null  bool
 10  customer_category  1000000 non-null  object
 11  season             1000000 non-null  object
 12  promotion          1000000 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(8)
memory usage: 92.5+ MB

In [15]:
# Extracting year,month,day of week and hour from date
df["year"] = df["date"].dt.year
df["month"] = df["date"].dt.month
df["day_of_week"] = df["date"].dt.day_name()
df["hour"] = df["date"].dt.hour

df[["date", "year", "month", "day_of_week", "hour"]].head()

                 date  year  month day_of_week  hour
0 2022-01-21 06:27:29  2022      1      Friday     6
1 2023-03-01 13:01:21  2023      3   Wednesday    13
2 2024-03-21 15:37:04  2024      3    Thursday    15
3 2020-10-31 09:59:47  2020     10    Saturday     9
4 2020-12-10 00:59:59  2020     12    Thursday     0

In [16]:
import os
# Path where the cleaned CSV file will be saved
cleaned_file_path = r"C:\Users\tanzi\Personal Projects\Market-Basket-Analysis\data\cleaned_transactions.csv"
# Path where the ZIP file will be created.
zip_file_path = r"C:\Users\tanzi\Personal Projects\Market-Basket-Analysis\data\cleaned_transactions.zip"

# Saving the cleaned file 
df.to_csv(cleaned_file_path, index=False)

# Zipping the cleaned file
with zipfile.ZipFile(zip_file_path, 'w', zipfile.ZIP_DEFLATED) as zipf:
    zipf.write(cleaned_file_path, arcname="cleaned_transactions.csv")

# Deleting the original cleaned file (because we already zipped it)
os.remove(cleaned_file_path)

print("Done with initial data cleaning")

Done with initial data cleaning